@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 12pt;
    font-family: arial;
}
main, header, footer, nav ul {
    max-width: 85rem;
    margin: 0 auto 0 auto;
}
.allergi {
    font-weight: bold;
   
}

#meny {
    background-color: black; 
    color: white; 
    padding: 20px; 
    margin: 20px;
    border: 3px dashed white;
}
#meny p {
    color: white;
}
#meny img {
    margin: 30px; 
}

#Omdinbeställning {
    border: 3px dashed black; 
    padding: 10px; 
    margin: 20px; 
}

header {
    
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;
}

header h1 {
    width:40rem;
    margin: 0 auto;
    text-align: center;
}

button:hover {
    background-color:chartreuse;
    cursor: pointer;
 }
 section {
    margin: 10px; 
}
button {
    margin-top: 5px;
    margin: 20px;
}
.header-content {
    position: relative;
    max-width: 82rem;
    height: 200px; 
    overflow: hidden;
}
.header-image {
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.header-content h1 {
    position: absolute;
    top: 50px; 
    left: 350px; 
    color:black;
    font-size: 3rem;
    padding: 10px;
}
#burgare-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* tre kolumner, samma bredd */
    gap: 20px; /* Mellanrum mellan burgarna */
    padding: 20px; /* Padding runt gridden */
}